<h1>Log in</h1>
<form action="auth" method="post" role="form">
	<input type="hidden" name="_method" value="put" /> 
	  
	<div class="form-group">  
		<label for="owner_email">Email:</label><br />
		<input id="owner_email" name="owner_email" type="text" value="" />
	</div>

	<button class="btn btn-default" type="submit">Log in</button> 

</form>