<html>
	<head>
	  <title>Contacts List</title>
	  <% puts request.inspect %>

	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	  
	  <style>
	  body {
	  	padding-top: 70px;
	  }
	  </style>
	
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="/">Contact List</a></li>
					<li><a href="/contacts/new">New Contact</a></li>
				</ul>
			</div>
		</nav>

			<div class="container">
				<%= yield %>
			</div>
	</body>

</html>